<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Minimal and Clean Sign up / Login and Forgot Form by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- Nav -->
	<div class="navbar_home">
        <div class="row">
            <div class="col-xs-6">
                <a href="homepage.html" class="poppins-medium branding__title btn__standard" >
                    QUISITE
                </a>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <div>
                    <a href="#" class="btn__standard" style="margin-right: 10px">
                        <img src="{{ url_for('main.get_search_image') }}" style="width: 20px" />
                    </a>
                    <a href="index.html" class="btn__standard">
                        <img src="{{ url_for('main.get_user_image') }}" style="width: 20px" />
                    </a>
                </div>
            </div>
        </div>
	</div>

	<!-- Return home BTN -->
	<div style="margin-top: 20px; margin-left: 20px; position: absolute;">
		<a style="padding: 10px 20px; background: #800000; color: white; text-decoration: none;" class="poppins-regular" href="homepage.html">&#x21a9; Return to home</a>
	</div>

	<div class="container" style="margin-bottom: 50px;">

		<div class="row">
			<div class="col-md-4 col-md-offset-4">


				<!-- Start Sign In Form -->
				<form action="register" method="post" id="register" class="fh5co-form animate-box"
					data-animate-effect="fadeIn">
					<h2 class="poppins-bold" style="text-align: center;">Sign Up</h2>
					<!-- <div class="form-group">
							<div class="alert alert-success" role="alert">Your info has been saved.</div>
						</div> -->
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}
					{% block body %}{% endblock %}
					<div class="form-group">
						<label for="name" class="sr-only poppins-regular">Name</label>
						<input type="text" class="form-control poppins-regular" id="name" name="name" placeholder="Name"
							autocomplete="off">
					</div>
					<div class="form-group">
						<label for="name" class="sr-only poppins-regular">phone number</label>
						<input type="text" class="form-control poppins-regular" id="phonenumber" name="phonenumber"
							placeholder="Phone Number" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="Account" class="sr-only poppins-regular">User name</label>
						<input type="text" class="form-control poppins-regular" id="Account" name="Account" placeholder="User Name"
							autocomplete="off">
						<div id="msg"></div>
					</div>
					<div class="form-group">
						<label for="password" class="sr-only poppins-regular">Password</label>
						<input type="password" class="form-control poppins-regular" id="password" name="password" placeholder="Password"
							autocomplete="off">
					</div>
					<div class="form-group">
						<label for="re-password" class="sr-only poppins-regular">Re-type Password</label>
						<input type="password" class="form-control poppins-regular" id="re-password" name="re-password"
							placeholder="Re-type Password" autocomplete="off">
					</div>
			

					<div class="form-group poppins-regular">
						<p>Already registered? <a href="index.html">Sign In</a></p>
					</div>
					<div class="form-group poppins-regular">
						<input type="submit" value="Sign Up" style="width: 100%; background: #800000; color: white; padding: 10px 0px" class="btn">
					</div>

				</form>
				<!-- END Sign In Form -->

			</div>
			<script type="text/javascript">
				$('document').ready(function () {
					$('#Account').on('input', function () {
						$.ajax({
							url: 'http://' + window.location.host + "/register-account-check",
							method: "POST",
							data: $('#Account').serialize(),
							async: false,
							success: function (data) {
								$('#msg').html(data);
							},
							error: function (jqxhr, textStatus, errorThrown) {
								alert("error: " + textStatus)
							}
						})
					});
				});
			</script>
		</div>
	</div>



</body>

</html>